!!! 5
%html{lang: "en"}
  %head
    %title Bibliofile
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "/assets/css/bootstrap.css", rel: "stylesheet"}/
    %link{href: "/assets/css/style.css", rel: "stylesheet"}/
    
  %body
    .container
      {% block content %}{% endblock %}
    
    %script{src: "/assets/js/jquery.js"}
    %script{src: "/assets/js/bootstrap.js"}
    %script{src: "/assets/js/lib.js"}
    %script{src: "/assets/js/script.js"}
