!!! 5
%html(lang="en")
	%head
		%title Bibliofile
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")
		%link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
		%link(rel="stylesheet" href="/assets/css/style.css")
	%body
		.container
			{% block content %}{% endblock %}
		%script(src="http://code.jquery.com/jquery-1.10.2.min.js")
		%script(src="/assets/js/bootstrap.min.js")
		%script(src="/assets/js/script.js")
