{% extends "layouts/base.html" %}

{% block content %}

%a.btn.btn-primary.bibliofile-corner-btn{href: "/books/new"} New book
%h1 Book Index
%hr/

{% for resource in resources %}
.media
	%button.pull-right.btn.btn-small.btn-default{data: {method: "DELETE", action: "{{ resource.link() }}"}} delete
	%a.pull-left{href: "{{ resource.link() }}"}
		%img.media-object.img-thumbnail{height: "128", src: "{{ resource.book_img }}", width: "128"}/
	.media-body
	%a.plain{href: "{{ resource.link() }}"}
		%h3.media-heading 
	%p
		%b {{ resource.title }}
		%span - by {{ resource.author }}
	%p {{ resource.small_description() }}
%hr/
{% endfor %}

{% endblock %}
