{% extends "base.html" %}

{% block content %}
%a.btn.btn-primary.bibliofile-corner-btn{href: "{{ resource.serve_uri() }}"} Download
%a.btn.btn-primary.pull-right.bibliofile-corner-btn{href: "{{ resource.edit_uri() }}"} Edit
%h1 {{ resource.title }}
%a{href: "/books"} « Back to book index
%hr/

.row

  .col-lg-3.bibliofile-col
    %a{href: "{{ resource.book_img }}"}
      %img.img-thumbnail{src: "{{ resource.book_img }}"}/
    %h4 About this book:
    %hr/
    %p {{ resource.description }}
    
  .col-lg-3.bibliofile-col
    %a{href: "{{ resource.author_img }}"}
      %img.img-thumbnail{src: "{{ resource.author_img }}"}/
    %h4 The author:
    %hr/
    %b {{ resource.author }}
    %p {{ resource.author_description }}
    
  .col-lg-3.bibliofile-col
    %h4 Info:
    %p Genre: {{ resource.genre }}
    %hr/
    %a{href: "{{ resource.serve_uri() }}"}
      Download
    %span.muted ({{ resource.get_size() }})
    
  .col-lg-3
{% endblock %}
