!!! 5
%html{lang: "en"}
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "/assets/css/style.css", rel: "stylesheet"}/
  
  %body
    .container
      %h1 {{ status }}
      %hr/
      %p.lead {{ message }}
