{% extends "base.html" %}
{% block content %}
<a class='btn btn-primary bibliofile-corner-btn' href='/books/new'>New book</a>
<h1>Book Index</h1>
<hr>
{% if resources.count() == 0 %}
<b>No books found.</b>
{% endif %}
{% for resource in resources %}
<div class='media'>
  <a class='pull-left' href='{{ resource.uri() }}'>
    <img class='media-object img-thumbnail' height='128' src='{{ resource.book_img }}' width='128'>
  </a>
  <div class='media-body'>
    <a class='plain' href='{{ resource.uri() }}'>
      <h3 class='media-heading'></h3>
    </a>
    {% if resource.description %}
    <p>{{ resource.small_description() }}</p>
    {% else %}
    <i class='muted'>There is no description.</i>
    {% endif %}
  </div>
</div>
<hr>
{% endfor %}
{% endblock %}
