{% extends "base.html" %}

{% block content %}

<a href="/books/new" class="btn btn-primary bibliofile-corner-btn">New book</a>
<h1>Book Index</h1>
<hr>

{% if resources.count() == 0 %}
<b>No books found.</b>
{% endif %}

{% for resource in resources %}
<div class="media">
	<a href="{{ resource.uri() }}" class="pull-left">
		<img class="media-object" src="http://i.imgur.com/HC4JaHw.png" alt="foo" width="90" height="90">
	</a>
	<div class="media-body">
		<h3 class="media-heading">{{ resource.title }}</h3>
		<p>{{ resource.small_description() }}</p>
	</div>
</div>
<hr>
{% endfor %}

{% endblock %}
