{% extends "base.html" %}
{% block content %}
<a class='btn btn-primary bibliofile-corner-btn' href='{{ resource.serve_uri() }}'>Download</a>
<a class='btn btn-primary pull-right bibliofile-corner-btn' href='#'>Edit</a>
<h1>{{ resource.title }}</h1>
<a href='/books'>« Back to book index</a>
<hr>
<div class='row'>
  <div class='col-lg-3 bibliofile-col'>
    <a href='{{ resource.book_img }}'>
      <img class='img-thumbnail' src='{{ resource.book_img }}'>
    </a>
    <h4>About this book:</h4>
    {% if resource.description %}
    <p>{{ resource.description }}</p>
    {% else %}
    <i class='muted'>There is no description.</i>
    {% endif %}
  </div>
  <div class='col-lg-3 bibliofile-col'>
    <a href='{{ resource.author_img }}'>
      <img class='img-thumbnail' src='{{ resource.author_img }}'>
    </a>
    <h4>The author:</h4>
    {% if resource.author_description %}
    <p>{{ resource.author_description }}</p>
    {% else %}
    <i class='muted'>There is no description.</i>
    {% endif %}
  </div>
  <div class='col-lg-3 bibliofile-col'>
    <h4>Info:</h4>
    {% if resource.info_description %}
    <p>{{ resource.info_description }}</p>
    {% else %}
    <i class='muted'>There is no description.</i>
    {% endif %}
    <hr>
    <a href='{{ resource.serve_uri() }}'>
      Download
    </a>
    <span class='muted'>({{ resource.get_size() }})</span>
  </div>
  <div class='col-lg-3'></div>
</div>
{% endblock %}
